
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

* {
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
}

body {
  height: 100vh;
  background-color: hsl(233, 47%, 7%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container {
  background-color: hsl(244, 38%, 16%);
  max-width: 280px;
  border-radius: 10px;
  margin: 0px 20px;
}
.image {
  height: 200px;
  position: relative;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0px 0px;
}
.empty {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: hsl(277, 64%, 61%);
  opacity: 0.4;
  border-radius: 10px 10px 0px 0px;
}
.content {
  text-align: center;
  padding: 20px;
}
.content h2 {
  color: hsl(0, 0%, 100%);
  font-family: "Inter", sans-serif;
}
.content p {
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 15px;
}
.content ul li h3 {
  color: hsl(0, 0%, 100%);
  margin-bottom: 2px;
  font-family: "Inter", sans-serif;
}
.content ul li span {
  color: hsla(0, 0%, 100%, 0.6);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-size: 0.7rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-bottom: 30px;
  color: hsla(0, 0%, 100%, 0.6);
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
@media screen and (min-width: 800px) {
  .container {
    max-width: 800px;
    height: 400px;
    display: flex;
    flex-direction: row-reverse;
  }
  .image {
    width: 50%;
    height: 100%;
    position: relative;
  }
  .image img {
    content: url(./images/image-header-desktop.jpg);
    border-radius: 0px 10px 10px 0px;
  }
  .empty {
    border-radius: 0px 10px 10px 0px;
  }
  .content {
    width: 50%;
    padding: 25px;
    margin-top: 30px;
  }
  .content ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20%;
  }
}